{% extends TEMPLATE_BASE %}
{% block title %}Confirm Vote{% endblock %}
{% block extra-head %}
<link href="/static/wizard/css/font-awesome-all.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

<style>
  .row { 
    margin-right: unset;
    margin-left: unset;
    max-width: none;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center">
      <h1 class="display-4">Vote successfully cast in </h1>
      <h1> {{election.name}} election</h1>
    </div>
    <p class="lead">
      <div class="row justify-content-center pb-3">
        <i class="fas fa-check-circle fa-5x" style="color: green;"></i>
      </div>
      <center>
      <p>
        Your smart ballot tracker registered on server      
      </p>
      <div class="col-8">
        <input class="form-control form-control-lg" style="background-color: white; font-size: 1.25rem; text-align: center;" type="text" value={{vote_hash}} readonly="">
      </div>

    </center>
    </p>
      {% if logout %}
      <div class="row justify-content-center">
        <p><b>For your safety, we have logged you out.</b></p>
        <iframe width="0" height="0" border="0" frameborder="0" src="/auth/logout">
        </iframe>
      </div>
      {% endif %}
    <div class="row justify-content-center pt-1">
      <div class="col-12 text-center">
      <p class="font-weight-bold" style="color: red;">Your UUID is converted to HEXADECIMAL value for reduced gas cost</p>
      </div>
      <div class="col-10">
        <input class="form-control form-control-lg" style="background-color: white; font-size: 1.25rem; text-align: center;" type="text" value="{{voter_uuid_hex}}" readonly="">
      </div>
    </div>

    <hr class="my-4">
  <div class="row justify-content-center">
    <a class="btn btn-info" href="{% url "one-election-view" election.uuid %}">return to election info</a>
  </div>
  </div>
{% endblock %}

{% block end-js %}

<script>
  $(document).ready(async function() {
  
    // var accounts;
    // if (window.ethereum) {
    //   window.web3 = new Web3(ethereum);
    //   try {
    //       accounts = await ethereum.enable();
    //   } catch(error) {
    //       $("#before-eth-cast").hide();
    //       $("#error-eth-cast").show();
    //       $("#error-eth-cast-message").text("You should have MetaMask extension installed");
    //   }
    // }
    
    // const electionABI = JSON.parse(" {{ election_contract_abi|escapejs }}" );
    // const electionContractAddress = '{{election.contract_address}}';
    // const electionContract = new web3.eth.Contract(electionABI, electionContractAddress, {
    //                             from: accounts[0],
    //                             gasPrice: web3.utils.toHex(web3.utils.toWei('3', 'gwei'))
    //                         }); 
    // var voteHashHEX = '0x' + '{{vote_hash_hex}}';
    // var now = new Date().getTime();
  
    // electionContract.methods.vote(voteHashHEX, now)
    //     .send({from: accounts[0]})
    //     .on('error', function(error, receipt) {
    //       $("#error-eth-cast").show();
    //       $("#error-eth-cast-message").text("Transaction failed, check wallet");
    //     }).on('transactionHash', function(hash) {
    //       $("#succes-eth-cast").show();
    //       $("#succes-eth-cast-tx").val(hash);
    //       $("#before-eth-cast").hide();
    //       $("#error-eth-cast").hide();

    //       $.ajax({
    //           url:  '/helios/elections/{{election.uuid}}/ajax/vote-registered-on-blockchain',
    //           type: 'POST',
    //           data: {
    //             'noQuestionRegistered': questionNo
    //           },
    //           dataType: 'json',
    //           success: function (data) {
    //             if (data.message) {

    //               noQuestionsAdded++;

    //               $("#question-" + questionNo + "-transaction").val(receipt.transactionHash);
    //               buttonObject.next().show();
    //               buttonObject.hide();

    //               console.log(receipt);
    //               $("#example-async").find(".error").removeClass("error");
    //             } else if(data.error) {
    //               alert("Question not registered");
    //               console.log(data.error);
    //             }
    //           },
    //           error: function(jqXHR, textStatus, errorThrown) {
    //             console.log("Error " + textStatus);
    //           }
    //         });
    //     });
    
  });
  </script>
{% endblock %}

