{% extends TEMPLATE_BASE %}

{% block title %}Compute Tally &mdash; {{election.name}}{% endblock %}
{% block content %}
  <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
    <h3 class="title">{{election.name}} &mdash; Compute Tally </h3>
    <a class="btn btn-primary" style="font-size: 1rem; min-width: 21%; max-height: 3rem;" href="{% url "one-election-view" election.uuid %}">back to election</a>
  </div>
  <hr>
  <div class="card">
    <div class="card-body text-center">
      <p style="font-size: 1rem;">
        You are about to compute the tally for this election. You only will then see the results.
      </p>

      <form method="POST" action="">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
        <input type="submit" class="btn btn-info" style="font-size: 1rem;" value="compute the tally" />
      </form>
    </div>
  </div>

{% endblock %}
