{% extends TEMPLATE_BASE %}

{% block content %}
<div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
  <h3 class="title">{{election.name}} &mdash; Freeze ballot </h3>
  <a class="btn btn-primary" style="font-size: 1rem; min-width: 21%; max-height: 3rem;" href="{% url "one-election-view" election.uuid %}">back to election</a>
</div>
<hr>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <i class="fas fa-exclamation-triangle fa-4x text-danger"></i>
      </div>
      <div class="col-11">
        <p style="margin-bottom: 0.2rem; margin-top: 0.5rem;">Once the ballot is frozen, the questions and options can no longer be modified.</p>
        <p style="margin-bottom: 0.2rem; margin-top: 0.5rem;">The list of trustees and their public keys will also be frozen.</p>
        <p style="margin-bottom: 0rem;">
          {% if election.openreg %}
          Registration for your election is currently <b class="text-danger" style="font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';text-transform: uppercase; letter-spacing: 3px; font-size: 1rem; font-weight: 900;">open</b>, which means anyone can vote, even after you freeze the ballot.
          {% else %}
          Registration for your election is currently <b class="text-danger" style="font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';text-transform: uppercase; letter-spacing: 3px; font-size: 1rem; font-weight: 900;">closed</b>, which means only the voters you designate will be able to cast a ballot. As the administrator, you will still be able to modify that voter list as the election progresses.
          {% endif %}
          </p>    
      </div>
    </div>
  </div>
</div>


{% if helios.VOTERS_EMAIL %}

  You must freeze the ballot before you can contact voters.
</h6>
{% endif %}

{% if issues_p %}
<h6 class="text-danger text-center" style="margin-top: 1rem;">
  Before you can freeze the election, you will need to:
  <ul>
      {% for issue in issues %}
      <li>{{issue.action}}</li>
      {% endfor %}
  </ul>
  <a class="btn btn-danger"  href="{% url "one-election-view" election.uuid %}">go back to the election</a>
</h6>
{% else %}
<form method="post" action="" style="margin-top: 3rem; margin-bottom: 0rem;">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<div class="d-flex justify-content-center" style="margin-top: 1rem;">
  <button class="btn btn-danger" style="margin-right: 1rem;" onclick="document.location='./view'; return false;">CANCEL</button>
  <input class="btn btn-success" type="submit" value="Freeze the ballot" />
</div>
</form>
{% endif %}

<br /><br />
{% endblock %}
