{% extends TEMPLATE_BASE %}

  {% block extra-head %}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
<link rel="stylesheet" href="/static/wizard/css/jquery.steps.css" />
<link href="/static/wizard/css/font-awesome-all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/static/wizard/js/jquery.steps.js"></script>
    
    <style>
      .row {
        max-width: none;
        margin-right: unset;
        margin-left: unset;
      }
    </style>

  {% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Deploy Smart Contract</h2>
<p>
The ballot is frozen now, let's deploy and setup the smart contract of this election.<br />
</p>

<p>
{% if election.openreg %}
Registration for your election is currently <b>open</b>, which means anyone can vote, even after you freeze the ballot.
{% else %}
Registration for your election is currently <b>closed</b>, which means only the voters you designate will be able to cast a ballot. As the administrator, you will still be able to modify that voter list as the election progresses.
{% endif %}
</p>    

<div id="example-async" style="width: 100%;">
  <h3>Deploy the contract</h3>
  <section class="container" >
    <div class="row" id="before-deploy">
      <div class="col">
        <p class="pl-5 pt-1">Election name</p>
        <p class="pl-5 pt-1">Election URL</p>
        <p class="pl-5 pt-1">Your ETH address</p>
        <p class="pl-5 pt-1">Created at</p>
        <p class="pl-5 pt-1">Vote starts at</p>
        <p class="pl-5 pt-1">Vote ends at</p>
      </div>
      <div class="col">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="election-name" value="{{election.name}}">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="election-url" value="{{election.cast_url}}">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="owner-address" value="Please connect with MetaMask account">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="created-at" value="{{election.created_at}}">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="starts-at" value="{{election.voting_starts_at}}">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="ends-at" value="{{election.voting_ends_at}}">
      </div>
    </div>
    <div class="row justify-content-center" id="before-deploy-button">
        <button class="btn btn-warning">DEPLOY</button>
      </div>
    <div class="container pt-5" id="after-deploy" style="display: none;">
      <div class="row justify-content-center pb-3">
        <i class="fas fa-check-circle fa-5x" style="color: green;"></i>
      </div>
      <div class="row justify-content-center">
        <p class="font-weight-light">Save them for individual verifiability</p>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <span class="fas fa-file-contract pr-2 pt-1 fa-2x" style="padding-left: 4em;"></span>
            <p class="font-weight-bold pt-2 pl-1">Smart contract address</p>
          </div>
          <div class="row">
            <span class="fas fa-hashtag pr-2 pt-1 fa-2x" style="padding-left: 4em;"></span>
            <p class="font-weight-bold pt-2">Transaction hash</p>
          </div>
        </div>
        <div class="col">
          <input type="text" readonly="" class="form-control-plaintext col-sm-12 mt-1" id="smart-contract-address">
          <input type="text" readonly="" class="form-control-plaintext col-sm-12 mt-1" id="transaction-hash">
        </div>
      </div>
    </div>
  </section>
  <h3>Add questions</h3>
  <section class="container">
    <div class="row justify-content-center" id="questions">
      {% for question in election.questions %}
      <div class="col-4">
        <div class="card bg-light mb-3">
          <div class="card-header font-weight-bold">Question {{forloop.counter}}</div>
          <div class="card-body">
            <p class="card-text text-center">{{question.question}}</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card bg-light mb-3">
          <div class="card-header font-weight-bold">Answers</div>
          <ul class="list-group list-group-flush" style="padding: 0 1.25rem;">
            {% for answer in question.answers %}
            <li class="list-group-item text-center pt-1 pb-1" style="background: rgba(0,0,0,0);">{{answer}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-4 align-self-center text-center">

        <button type="button" id="add-question-{{forloop.counter}}" class="btn btn-warning add-question-button" style="display: inline;">Add question</button>
        <div class="alert alert-success question-added" id="question-{{forloop.counter}}-added" role="alert" style="display: none;">
          Question added
          <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="question-{{forloop.counter}}-transaction" value="DB issue, check blockchain">
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <h3>Add eligible voters</h3>
  <section style="float: unset;">
     <div class="container">
      {% if election.openreg and election.eligibility %}
      <div class="pt-5" id="public-election-before">
        <div class="row justify-content-center pb-3">
          <i class="fas fa-users fa-5x" style="color: #2184be;"></i>
        </div>
        <div class="row justify-content-center">
          <p>Election is <span class="font-weight-bold"> PUBLIC</span></p>
        </div>
        <div class="row justify-content-center">
          <p class="text-muted font-italic">Everyone can vote in this election</p>
        </div>
      </div>
      {% else %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tbody>
      </table>
      {% endif %}
     
     </div>
  </section>
  <h3>Add election public key</h3>
  <section class="container">
    <div class="row justify-content-center pb-3">
      <i class="fas fa-key fa-5x" style="color: #2184be;"></i>
    </div>
    <div class="row justify-content-center">
     <p><span class="font-weight-bold"> HASH OF PUBLIC KEY </span> for ballot encryption</p>
    </div>
    <div class="row justify-content-center">
      <input type="text" readonly="" class="form-control-plaintext col-sm-7" id="pub-key" value="{{ election.election_pubkey_hash }}">
    </div>
    <div class="row text-center justify-content-center">
      <button class="btn btn-warning" id="set-public-key">SET ON CONTRACT</button>
      <div class="alert alert-success col-sm-7" id="public-key-setted" role="alert" style="display: none; padding: .75rem 1rem;">
          Public key set transaction
          <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="pub-key-transaction" value="{{ election.election_pubkey_transaction }}">
        </div>
    </div>
  </section>
</div>


    <script>
  
    var contractDeployed = false;
    var noQuestionsAdded = {{ election.no_questions_added_to_contract }};
    {% if election.openreg and election.eligibility %}
      var publicElection = true;
    {% else %}
      var publicElection = false;
    {% endif %}
    var electionVotersAdded = false;

    var nextButton, buttonEnabled;

    const election_abi = JSON.parse(" {{ election_contract_abi|escapejs }}" );
    const election_bytecode = "{{ election_contract_bytecode }}";

    var electionContract;
    var electionContractAddress;
    var questions = {{ questions | safe }};
    var questions_blockchain = {{ questions_blockchain | safe }};

    var created_date_uint = new Date('{{election.created_at|date:"D, d M Y H:i:s"}}').getTime();

    $(document).ready(async function() {
      ethereum.autoRefreshOnNetworkChange = false;
        ethereum.on('chainChanged', () => {
          document.location.reload()
        })

        if (!ethereum || !ethereum.isMetaMask) {
          throw new Error('Please install MetaMask.')
        }

        var accounts, currentAccount;
        if (window.ethereum) {
          window.web3 = new Web3(ethereum);
          try {
              // Request access to the metamask account
              accounts = await ethereum.enable();
              currentAccount = accounts[0];
              $("#owner-address").val(currentAccount);
           } catch(error) {
              console.log(error);
           }
        }

        ethereum.on('accountsChanged', handleAccountsChanged)
        function handleAccountsChanged (accounts) {
          if (accounts.length === 0) {
            // MetaMask is locked or the user has not connected any accounts
            alert('Please connect to MetaMask.')
          } else if (accounts[0] !== currentAccount) {
            currentAccount = accounts[0];
          }
        }

        if({{ contract_already_deployed }}) {
          nextButton = $(".actions ul li:nth-child(2) a");
          buttonEnabled = $(".actions ul li:nth-child(2)").removeClass("disabled").attr("aria-disabled", "false");

          $("#before-deploy").hide();
          $("#before-deploy-button").hide();
          $("#after-deploy").show();
          $("#smart-contract-address").val("{{election.contract_address}}");
          $("#transaction-hash").val("{{election.deploy_transaction}}");
          contractDeployed = true;

          {% if election.contract_address %}
            electionContractAddress = '{{election.contract_address}}';
          {% endif %}

          electionContract = new web3.eth.Contract(election_abi, electionContractAddress, {
                                from: currentAccount,
                                gasPrice: web3.utils.toHex(web3.utils.toWei('3', 'gwei'))
                            });

          electionContract.methods.getNoQuestions().call({from: currentAccount})
            .then((result) => {
              console.log(result + " questions already registered");
              for(var i = 0; i < result; i ++) {
                $("#add-question-" + (i + 1)).hide();
                $("#question-" + (i + 1) + "-added").show();
                $("#question-" + (i + 1) + "-transaction").val(questions_blockchain[i].transaction_hash);
              }
            });

           electionContract.methods.pubKey().call({ from: currentAccount})
            .then((result) => {
                console.log(result);
                $("#set-public-key").hide();
                $("#public-key-setted").show();

            });
        } else {
            nextButton = $(".actions ul li:nth-child(2) a");
            buttonEnabled = $(".actions ul li:nth-child(2)").addClass("disabled").attr("aria-disabled", "true");
        }

        $( "#before-deploy-button" ).click(async function() {

            try {
              let payload = {
                  data: election_bytecode,
                  arguments: ["{{election.name}}", web3.utils.asciiToHex("{{election.short_name}}"), created_date_uint, created_date_uint, created_date_uint]
              }
              electionContract = new web3.eth.Contract(election_abi);
              const estimatedGas = await electionContract.deploy(payload).estimateGas();

              let parameter = {
                  from: currentAccount,
                  gas: web3.utils.toHex(3000000),
                  gasPrice: web3.utils.toHex(web3.utils.toWei('3', 'gwei'))
              }

              var transactionHashFinal, contractAddress;

              electionContract.deploy(payload).send(parameter, (err, transactionHash) => {
                  console.log('Transaction Hash :', transactionHash);
                  transactionHashFinal = transactionHash;
                  $("#transaction-hash").val(transactionHash);

                  $("#before-deploy").hide();
                  $("#before-deploy-button").hide();
                  $("#after-deploy").show();
                  $("#smart-contract-address").val("Not deployed yet..");

              }).on('confirmation', () => {}).then((newContractInstance) => {
                  console.log('Deployed Contract Address : ', newContractInstance.options.address);
                  $.ajax({
                    url:  '/helios/elections/{{election.uuid}}/ajax/contract',
                    type: 'POST',
                    data: {
                      'transactionHash': transactionHashFinal,
                      'contractAddress': newContractInstance.options.address,
                      'ownerAddress': currentAccount
                    },
                    dataType: 'json',
                    success: function (data) {
                      if (data.message) {
                        var nextButton = $(".actions ul li:nth-child(2) a");
                        buttonEnabled = $(".actions ul li:nth-child(2)").removeClass("disabled").attr("aria-disabled", "false");

                        $("#smart-contract-address").val(newContractInstance.options.address);
                        contractDeployed = true;
                        electionContractAddress = newContractInstance.options.address;

                        $("#example-async").find(".error").removeClass("error");
                      } else if(data.error) {
                        alert("Contract not registered");
                        console.log(data.error);
                      }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                      console.log("Error " + textStatus);
                    }
                  });
              });
            } catch (error) {
                console.log(error);
            }
        });

        $("#set-public-key").click(async function() {
          var hashPublicKey = $("#pub-key").val();

          if(hashPublicKey.length != 64) {
            alert('Public key from server is wrong!');
            $("#pub-key").val("WRONG VALUE FROM SERVER!");
            return;
          }

          var myContract = new web3.eth.Contract(election_abi, electionContractAddress, {
                                from: currentAccount,
                                gasPrice: web3.utils.toHex(web3.utils.toWei('3', 'gwei'))
                            });

          myContract.methods.setPublicKey('0x' + hashPublicKey)
            .send({from: currentAccount})
            .on('error', function(error, receipt) {
                alert('Setting public key failed, try again.');
             }).on('transactionHash', function(transactionHash){
                $.ajax({
                      url:  '/helios/elections/{{election.uuid}}/ajax/pubkey',
                      type: 'POST',
                      data: {
                        'pubKeyTransaction': transactionHash,
                        'pubKeyHash': hashPublicKey
                      },
                      dataType: 'json',
                      success: function (data) {
                        if (data.message) {
                          $("#set-public-key").hide();
                          $("#public-key-setted").show();
                          $("#pub-key-transaction").val("0x" + transactionHash);
                        } else if(data.error) {
                          alert("Transaction hash not registered");
                          console.log(data.error);
                        }
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                        console.log("Error " + textStatus);
                      }
                });
             });

        });

        $( ".add-question-button" ).click(async function() {
          var questionNo = $(this).attr('id').substring($(this).attr('id').length - 1, $(this).attr('id').length);
          console.log(questions[questionNo - 1]);

          var question = questions[questionNo - 1];
          var answers = question.answers;
          for(var i = 0; i < answers.length; i ++)
            answers[i] = web3.utils.asciiToHex(answers[i]);
          var resultType = web3.utils.asciiToHex(question.result_type);

          var myContract = new web3.eth.Contract(election_abi, electionContractAddress, {
                                from: currentAccount,
                                gasPrice: web3.utils.toHex(web3.utils.toWei('3', 'gwei'))
                            });

          var buttonObject = $(this);

          myContract.methods.addQuestion(question.question, answers, question.min, question.max, resultType)
            .send({from: currentAccount})
            .on('error', function(error, receipt) {

              myContract.methods.questionNames(questionNo-1).call({from: currentAccount})
                .then((result) => {
                  if(result == question.question)
                  {
                    alert('Question already registered');
                    buttonObject.next().show();
                    buttonObject.hide();
                  }
                  else
                  {
                    alert(error);
                  }
                });
            }).on('transactionHash', function(transactionHash){
                $.ajax({
                      url:  '/helios/elections/{{election.uuid}}/ajax/question',
                      type: 'POST',
                      data: {
                        'noQuestionRegistered': questionNo,
                        'questionTransaction': transactionHash
                      },
                      dataType: 'json',
                      success: function (data) {
                        if (data.message) {

                          noQuestionsAdded++;

                          $("#question-" + questionNo + "-transaction").val(transactionHash);
                          buttonObject.next().show();
                          buttonObject.hide();

                          $("#example-async").find(".error").removeClass("error");
                        } else if(data.error) {
                          alert("Question not registered");
                          console.log(data.error);
                        }
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                        console.log("Error " + textStatus);
                      }
                });
            });
        });

    });
    </script>

    <script>
      var wizard = $("#example-async");

      wizard.steps({
          headerTag: "h3",
          bodyTag: "section",
          transitionEffect: "slide",
          transitionEffectSpeed: 150,
          labels: {
              finish: 'Finish <i class="fa fa-chevron-right"></i>',
              next: 'Next <i class="fa fa-chevron-right"></i>',
              previous: '<i class="fa fa-chevron-left"></i> Previous'
          },
          onStepChanging: function (event, currentIndex, newIndex)
          {
              if(!contractDeployed)
                  return false;

              if(currentIndex === 1 && newIndex === 2 && noQuestionsAdded != {{ election.questions|length }})
                  return false;

              if(currentIndex === 2 && newIndex === 3)
                if(publicElection)
                  return true;
                else if(electionVotersAdded == false)
                      return false;

              console.log("new");
              return true;
          },
          onStepChanged: function (event, currentIndex, priorIndex)
          {
              console.log("changed");
          },
          onFinishing: function (event, currentIndex) {
              if(contractDeployed && noQuestionsAdded == {{ election.questions|length }} && publicElection) {
                var form = $('<form action="{% url "one-election-final-freeze" election.uuid %}" method="post" style="display: none;"/>');
                $('body').append(form);
                form.submit();
                return true;
               }

              return false;
          },
          onFinished: function (event, currentIndex)
          {
              console("Submitted!");
          }
      });
    </script>

<br /><br />
{% endblock %}

<!-- {% block end-js %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %} -->
