{% extends TEMPLATE_BASE %}
{% block extra-head %}
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
{% endblock %}

{% block title %}Compute Encryted Tally for {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title"></h2>
  <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
    <h3 class="title">Compute Tally for Election: <span class="text-info">{{election.name}}</span></h3>
</div>
  <hr>
<div id="instructions">
  <div class="card">
  <div class="card-body text-center">
{% if election.num_cast_votes %}
<p>
    You are about to compute the encrypted tally for election <b>{{election.name}}</b>.
</p>

<p>
    Once you do this, voters will no longer be able to cast a ballot.
</p>

<form method="post" id="compute-tally-form" action="" class="pretty">
  <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
</form>
  <button class="btn btn-danger" style="font-size: 1rem;" onclick="document.location='./view'; return false;">NOT YET</button>
  <button class="btn btn-success" style="font-size: 1rem;" id="compute-tally-btn">compute encrypted tally</button>
{% else %}
<p>
  No votes have been cast in this election. At least one vote must be cast before you compute the tally.<br /><br />
  <a class="btn btn-danger" style="font-size: 1rem;" href="./view">back to election</a>
  </p>
<p>
{% endif %}
</div>
  </div>
</div>

<script>

  const election_abi = JSON.parse(" {{ election_contract_abi|escapejs }}" );

  $(document).ready(async function()
      {
        ethereum.autoRefreshOnNetworkChange = false;
        ethereum.on('chainChanged', () => {
          document.location.reload()
        });

        if (!ethereum || !ethereum.isMetaMask) {
          throw new Error('Please install MetaMask.')
        }

        if (window.ethereum) {
          window.web3 = new Web3(ethereum);
          try {
              // Request access to the metamask account
              accounts = await ethereum.enable();
              currentAccount = accounts[0];
              $("#owner-address").val(currentAccount);
           } catch(error) {
              alert(error);
           }
        }

        ethereum.on('accountsChanged', handleAccountsChanged)
        function handleAccountsChanged (accounts) {
          if (accounts.length === 0) {
            // MetaMask is locked or the user has not connected any accounts
            alert('Please connect to MetaMask.')
          } else if (accounts[0] !== currentAccount) {
            currentAccount = accounts[0];
          }
        }

        $("#compute-tally-btn").on("click", async function ()  {

          var myContract = new web3.eth.Contract(election_abi, web3.utils.toChecksumAddress("{{election.contract_address}}"),
                            {
                                from: currentAccount,
                                gasPrice: web3.utils.toHex(web3.utils.toWei('3', 'gwei'))
                            });

          myContract.methods.electionIsFinished().call(function (err,electionIsFinished) {

            if(electionIsFinished) {

               var current_url = window.location.href;
               var new_url = current_url.substring(0, current_url.length - 13) + "view";
               window.location.href = new_url;
            } else {
               myContract.methods.stopElection(Date.now())
                  .send({from: currentAccount})
                  .on('error', function(error, receipt) {
                     alert("There was a problem with the transaction. Please, try again!");
                  }).on('transactionHash', function(transactionHash){
                    alert('Tally has begun!');
                     $("#compute-tally-form").submit();
                  });
            }
          });
        });

      });

</script>

{% endblock %}
