{% extends "helios/templates/cryptobase.html" %}

{% block title %}Questions for {{election.name}}{% endblock %}
{% block content %}
  <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
    <h3 class="title">{{election.name}} &mdash; Questions </h3>
    <a class="btn btn-primary" style="font-size: 1rem;" href="{% url "one-election-view" election.uuid %}">back to election</a>
  </div>
  <script language="javascript">
{% if election.questions %}
  QUESTIONS = JSON.parse("{{questions_json|escapejs}}");
{% else %}
  QUESTIONS = [];
{% endif %}
{% if admin_p and not election.frozen_at %}
  ADMIN_P = true;
{% else %}
  ADMIN_P = false;
{% endif %}

  CSRF_TOKEN = '{{csrf_token}}';

  function refresh() {
      var question_div = `
                    ${QUESTIONS.map(
                      (question, index) =>
                      `
                      <div class="card bg-secondary mb-3" id="q_view_${index}">
                        <div class="card-header">
                        <div class="row" style="max-width: unset; margin-left: 0px; margin-right: 0px;">
                          <div class="col-md-9 col-sm-12" style="padding-left: 0px;">
                            <h4 style="margin-bottom: 0px;">
                              #${index + 1}. ${question.question}
                            </h4>
                          </div>
                          
                          ${ADMIN_P ?  
                          `<div class="col-md-3 col-sm-12" style="padding-right: 0px;">
                            <div class="d-flex justify-content-end">
                              ${index > 0 ? `<a class="btn btn-sm btn-primary mr-1" style="font-size: 0.65rem;" href="javascript:question_move_up(${index})">MOVE UP</a>` : ``}
                              <a class="btn btn-sm btn-info mr-1" style="font-size: 0.7rem;" href="javascript:question_edit(${index})">EDIT</a>
                              <a class="btn btn-sm btn-danger" style="font-size: 0.7rem;" onclick="return confirm('Are you sure you want to remove this question?');" href="javascript:question_remove(${index})">DELETE</a>
                            </div>
                          </div>` : ``
                          }
                        </div>
                        </div>                        
                        <div class="card-body" style="padding-bottom: 0px;">
                          <h4 class="card-title">
                            <!-- <span class="badge badge-info">${question.choice_type}</span>  -->
                            <span class="badge badge-info">select between</span><span class="badge badge-info">${question.min} and ${`${question.max != null}` ? `${question.max}` : `unlimited`} answers</span>
                            <span class="badge badge-info">result type ${question.result_type}</span>
                          </h4>
                          <div id="q_view_${index}">
                            <ul>
                              ${question.answers.map(
                                (answer, index) => 
                                `
                                <li style="font-size: 1rem; font-weight: bold;"> ${answer}
                                ${question.answer_urls[index] ?
                                  `<a target="_new" class="badge badge-primary" style="margin-left: 0.3rem;" href="${question.answer_urls[index]}">MORE</a>` : ``
                                }
                                </li>
                                `
                              ).join('')}
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div id="q_edit_${index}" style="display:none;"> 
                        <div class="card">
                          <div class="card-header">
                            <h4>#${index + 1}.</h4>
                          </div>
                          <div class="card-body" style="padding-top: 0px;">
                          <form id="question_edit_${index}_form" onsubmit="question_update(${index}, this); return false;" action="#">
                            <p>
                            <input type="hidden" name="choice_type" value="approval" />
                            <div class="row" style="margin-bottom: 1rem; margin-left: 0.4rem;">
                              <h6 style="padding-top: 1rem; margin-right: 1rem;">Select between</h6>
                              <div class="form-group">
                                <select name="min" class="form-control" style="width: 5rem;">
                                  <option selected>0</option>
                                  ${Array(20).fill().map( (item, idx) =>
                                    ` <option>${idx + 1}</option>`
                                    )}
                                </select>
                              </div>
                              <h6 style="padding-top: 1rem; margin-left: 1rem; margin-right: 1rem;">and</h6>

                              <div class="form-group">
                                <select name="max" class="form-control" style="width: 5rem;">
                                  <option>0</option>
                                  <option selected>1</option>

                                  ${Array(49).fill().map( (item, idx) =>
                                  ` <option>${idx + 2}</option>`
                                  )}

                                  <option value="">- (approval)</option>
                                </select>
                              </div>

                              <h6 style="padding-top: 1rem; margin-left: 1rem;">answers.</h6>
                            </div>
                            
                            <div class="row" style="margin-bottom: 1rem; margin-left: 0.4rem;">
                              <h6 style="padding-top: 1rem; margin-right: 1rem;">Result Type</h6>
                              <select name="result_type" class="form-control" style="width: 10rem;">
                                  <option selected>absolute</option>
                                  <option>relative</option>
                              </select>
                            </div>

                            </p>

                            <table id="answer_table_${index}" class="table" style="font-size: 1rem;">
                              <tbody>
                                <tr>
                                  <th colspan="2" style="padding-top: 2.3rem;">
                                    <h6>Question:</h6>
                                  </th>
                                  <td style="padding: 1rem;">
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="question" size="70" style="font-size: 1rem;" />
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr><th colspan="2"></th><th><a class="btn btn-primary btn-sm" href="javascript:add_answers(document.getElementById('answer_table_${index}'),5)">add 5 more answers</a></th></tr>
                              </tfoot>
                            </table>
                            <div class="d-flex justify-content-end">
                              <input class="btn btn-success btn-sm" type="submit" style="font-size: 0.7rem;" value="update question" /> &nbsp; <input style="font-size: 0.7rem;" class="btn btn-danger btn-sm" type="reset" value="cancel" onclick="question_edit_cancel(${index});" />
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
                    `
                    ).join('')}
                    ${QUESTIONS.length == 0 ? `no questions yet` : ''}
                    ${ADMIN_P ?
                    ` <hr>
                      <div class="card">
                        <div class="card-header">
                        <h4>Add a Question:</h4>
                        </div>
                        <div class="card-body">
                          <form id="question_form" onsubmit="question_add(this); return false;" action="#">
                            <input type="hidden" name="choice_type" value="approval" />
                            <div class="row" style="margin-bottom: 1rem; margin-left: 0.4rem;">
                              <h6 style="padding-top: 1rem; margin-right: 1rem;">Select between</h6>
                              <div class="form-group">
                                <select name="min" class="form-control" style="width: 5rem;">
                                  <option selected>0</option>
                                  ${Array(20).fill().map( (item, idx) =>
                                    ` <option>${idx + 1}</option>`
                                    )}
                                </select>
                              </div>
                              <h6 style="padding-top: 1rem; margin-left: 1rem; margin-right: 1rem;">and</h6>

                              <div class="form-group">
                                <select name="max" class="form-control" style="width: 5rem;">
                                  <option>0</option>
                                  <option selected>1</option>

                                  ${Array(49).fill().map( (item, idx) =>
                                  ` <option>${idx + 2}</option>`
                                  )}

                                  <option value="">- (approval)</option>
                                </select>
                              </div>

                              <h6 style="padding-top: 1rem; margin-left: 1rem;">answers.</h6>
                            </div>
                            
                            <div class="row" style="margin-bottom: 1rem; margin-left: 0.4rem;">
                              <h6 style="padding-top: 1rem; margin-right: 1rem;">Result Type</h6>
                              <select name="result_type" class="form-control" style="width: 10rem;">
                                  <option selected>absolute</option>
                                  <option>relative</option>
                              </select>
                            </div>
                            
                            </p>

                            <table id="answer_table" style="width:100%; font-size: 1rem;">
                              <tbody>
                                <tr>
                                  <th colspan="2" style="padding-top: 1rem;">
                                    <h6>Question</h6>
                                  </th>
                                  <td style="padding: 1rem;">
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="question" size="70" style="font-size: 1rem;" />
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr><th colspan="2"></th><th><a class="btn btn-primary btn-sm" style="margin-top: 0.5rem; margin-bottom: 0.5rem;" href="javascript:add_answers(document.getElementById('answer_table'), 5)">add 5 more answers</a></th></tr>
                              </tfoot>

                            </table>
                            <div class="d-flex justify-content-end">
                              <input class="btn btn-primary btn-sm" type="submit" style="font-size: 1rem;" value="add question" /> 
                            </div>
                          </form>
                        </div>
                      </div>
                    `
                    : `` }
                    `;

      $("#questions").html(question_div);
      add_answers($('#answer_table'),DEFAULT_NUM_ANSWERS);
 }

  function save_questions(callback) {
      $.post('./save_questions', {'questions_json' : JSON.stringify(QUESTIONS), 'csrf_token': CSRF_TOKEN}, function(result) {
          if (result == "FAILURE") {
            alert("The questions could not be saved. Please check that the URLs you entered are either http:// or https://");
          } else {
            callback();
          }
      });
  }

  function get_question_from_form(form) {
      var max = null;
      if (form.max.value != "")
        max = parseInt(form.max.value);

      var new_q = {'question' : form.question.value, 'min': parseInt(form.min.value), 'max': max, 'short_name': form.question.value, 'answers': [], 'answer_urls': [], 'choice_type': form.choice_type.value, 'tally_type': 'homomorphic', 'result_type': form.result_type.value};
      var i = 0;
      while(true) {
          i += 1;
          if (!form['answer_' + i] || !form['answer_' + i].value)
            break;
          new_q.answers[i-1] = form['answer_' + i].value;
          new_q.answer_urls[i-1] = form['answer_url_' +i].value;
      }

      if (new_q.answers.length == 0) {
        return null;
      }

      return new_q;
  }

  function question_add(form) {
      var new_q = get_question_from_form(form);
      if (new_q) {
        QUESTIONS.push(new_q);
        save_questions(refresh);
      }
  }

  function question_remove(q_num) {
      var new_questions = [];
      $(QUESTIONS).each(function(i, q) {
          if (i == q_num)
            return;
          new_questions.push(q);
      });
      QUESTIONS = new_questions;
      save_questions(refresh);
  }

  function question_edit(q_num) {
    $('#q_view_'+q_num).hide();
    $('#q_edit_'+q_num).show();

    // set the default values for this question
    var form = $('#question_edit_' + q_num + '_form');
    var q_data = QUESTIONS[q_num];
    form[0].min.value = q_data.min;
    form[0].max.value = q_data.max;
    form[0].question.value = q_data.question;
    form[0].result_type.value = q_data.result_type;

    // add the answers
    var answer_table = $('#answer_table_' + q_num);
    add_answers(answer_table, q_data.answers.length);
    $(q_data.answers).each(function(i, a) {
     form[0]['answer_' + (i+1)].value = a;
    });

    // URLs
    $(q_data.answer_urls).each(function(i, a) {
     form[0]['answer_url_' + (i+1)].value = a;
    });
}

  function question_edit_cancel(q_num) {
    $('#q_edit_'+q_num).hide();
    $('#q_view_'+q_num).show();
  }

  function question_update(q_num, form) {
      var new_q = get_question_from_form(form);
      QUESTIONS[q_num] = new_q;
      save_questions(refresh);
  }

  var DEFAULT_NUM_ANSWERS = 5;

  function add_answer(el) {
    el = $(el);
    var num_answers = el.find('input.answer').length + 1;
    el.find('tbody').append('<tr><th colspan="2"><h6 style="padding-top: 0.5rem;">Answer #' + num_answers + '</h6></th><td style="padding: 1rem;"><input type="text" style="font-size: 1rem;" class="answer" name="answer_' + num_answers + '" size="70" /><br /><nobr>Link (optional, <tt>http</tt> or <tt>https</tt> only): <input type="url" style="font-size: 1rem;" name="answer_url_' + num_answers + '" width="50%" /></nobr></td></tr>');
  }

  function add_answers(el, num) {
    for (var i=0; i<num; i++)
      add_answer(el);
  }

  function question_move_up(num) {
    var temp_q = QUESTIONS[num];
    QUESTIONS[num] = QUESTIONS[num-1];
    QUESTIONS[num-1] = temp_q;
    save_questions(refresh);
  }

  $(document).ready(async function() {
      // $('#questions').setTemplateURL("/static/helios/static_templates/question.html");
      // const q_div = await import('/static/static_templates/question.js');
      // $("#questions").html(q_div.question_markup);

      refresh();
  });


  </script>

  <div id="questions">
  </div>

			<!-- end #content -->
{% endblock %}

  async function setupQuestionDiv() {
    const q_div = await import('/static/static_templates/question.js');
    document.getElementById('questions').innerHTML = q_div.question_markup;
  }