{% extends TEMPLATE_BASE %}

  {% block extra-head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/static/wizard/css/jquery.steps.css" />
<link href="/static/wizard/css/font-awesome-all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/static/wizard/js/jquery.steps.js"></script>
    
  {% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Deploy Smart Contract</h2>
<p>
The ballot is frozen now, let's deploy and setup the smart contract of this election.<br />
</p>

<p>
{% if election.openreg %}
Registration for your election is currently <b>open</b>, which means anyone can vote, even after you freeze the ballot.
{% else %}
Registration for your election is currently <b>closed</b>, which means only the voters you designate will be able to cast a ballot. As the administrator, you will still be able to modify that voter list as the election progresses.
{% endif %}
</p>    

<div id="example-async" style="width: 100%;">
  <h3>Deploy the contract</h3>
  <section class="container" >
    <div class="row" id="before-deploy">
      <div class="col">
        <p class="pl-5 pt-1">Election name</p>
        <p class="pl-5 pt-1">Election URL</p>
        <p class="pl-5 pt-1">Your ETH address</p>
        <p class="pl-5 pt-1">Created at</p>
        <p class="pl-5 pt-1">Vote starts at</p>
        <p class="pl-5 pt-1">Vote ends at</p>
      </div>
      <div class="col">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="staticEmail" value="{{election.name}}">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="staticEmail" value="{{election.url}}">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="staticEmail" value="ETH ADDRESS">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="staticEmail" value="{{election.created_at}}">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="staticEmail" value="{{election.voting_starts_at}}">
        <input type="text" readonly="" class="form-control-plaintext col-sm-12" id="staticEmail" value="{{election.voting_ends_at}}">
      </div>
    </div>
      <div class="row justify-content-center" id="before-deploy-button">
        <button class="btn btn-warning">DEPLOY</button>
      </div>
    <div class="container pt-5" id="after-deploy" style="display: none;">
      <div class="row justify-content-center pb-3">
        <i class="fas fa-check-circle fa-5x" style="color: green;"></i>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <span class="fas fa-file-contract pr-2 pt-1 fa-2x"></span>
            <p class="font-weight-bold pt-2">Smart contract address</p>
          </div>
          <div class="row">
            <span class="fas fa-hashtag pr-2 pt-1 fa-2x"></span>
            <p class="font-weight-bold pt-2">Transaction hash</p>
          </div>
        </div>
        <div class="col">
          <input type="text" readonly="" class="form-control-plaintext col-sm-12 mt-1" id="smart-contract-address">
          <input type="text" readonly="" class="form-control-plaintext col-sm-12 mt-1" id="transaction-hash">
        </div>
      </div>
    </div>
  </section>
  <h3>Add questions</h3>
  <section>
      <p>Morbi ornare tellus at elit ultrices id dignissim lorem elementum. Sed eget nisl at justo condimentum dapibus. Fusce eros justo, 
          pellentesque non euismod ac, rutrum sed quam. Ut non mi tortor. Vestibulum eleifend varius ullamcorper. Aliquam erat volutpat. 
          Donec diam massa, porta vel dictum sit amet, iaculis ac massa. Sed elementum dui commodo lectus sollicitudin in auctor mauris 
          venenatis.</p>
  </section>
  <h3>Add eligible voters</h3>
  <section>
      <p>Quisque at sem turpis, id sagittis diam. Suspendisse malesuada eros posuere mauris vehicula vulputate. Aliquam sed sem tortor. 
          Quisque sed felis ut mauris feugiat iaculis nec ac lectus. Sed consequat vestibulum purus, imperdiet varius est pellentesque vitae. 
          Suspendisse consequat cursus eros, vitae tempus enim euismod non. Nullam ut commodo tortor.</p>
  </section>
  <h3>Add election public key</h3>
  <section>
    <p>Quisque at sem turpis, id sagittis diam. Suspendisse malesuada eros posuere mauris vehicula vulputate. Aliquam sed sem tortor. 
        Quisque sed felis ut mauris feugiat iaculis nec ac lectus. Sed consequat vestibulum purus, imperdiet varius est pellentesque vitae. 
        Suspendisse consequat cursus eros, vitae tempus enim euismod non. Nullam ut commodo tortor.</p>
  </section>
</div>

    <script>

    var contractDeployed = false;

    var created_date_uint = new Date('{{election.created_at|date:"D, d M Y H:i:s"}}').getTime();

    $(document).ready(function() {
        $( "#before-deploy-button" ).click(async function() {
            election_abi = JSON.parse(" {{ election_contract_abi|escapejs }}" );
            election_bytecode = "{{ election_contract_bytecode }}";

            if (window.ethereum) {
                window.web3 = new Web3(ethereum);
                try {
                    // Request access to the metamask account
                    const accounts = await ethereum.enable();

                    let payload = {
                        data: election_bytecode,
                        arguments: ["{{election.name}}", web3.utils.asciiToHex("{{election.short_name}}"), created_date_uint, created_date_uint, created_date_uint]
                    }
                    var electionContract = new web3.eth.Contract(election_abi);
                    const estimatedGas = await electionContract.deploy(payload).estimateGas();

                    let parameter = {
                        from: accounts[0],
                        gas: web3.utils.toHex(3000000),
                        gasPrice: web3.utils.toHex(web3.utils.toWei('3', 'gwei'))
                    }

                    electionContract.deploy(payload).send(parameter, (err, transactionHash) => {
                        console.log('Transaction Hash :', transactionHash);
                        $("#transaction-hash").val(transactionHash);
                    }).on('confirmation', () => {}).then((newContractInstance) => {
                        console.log('Deployed Contract Address : ', newContractInstance.options.address);
                        $("#before-deploy").hide();
                        $("#before-deploy-button").hide();
                        $("#after-deploy").show();
                        $("#smart-contract-address").val(newContractInstance.options.address);
                    })


                } catch (error) {
                    console.log(error);
                }
            }
        });

    });
    </script>

    <script src="/static/wizard/js/wizard.js"></script>

<br /><br />
{% endblock %}

{% block end-js %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
